.biz-show-header {
  height: 465px;
}


// .biz-show-ul {
//   display: flex;
// }

.biz-show-ul {
  height: 100%;
  position: relative;
  width: 100%;
  display: inline-flex;
  background-image: linear-gradient(to bottom, transparent 40%, #000 65%);
}

.biz-show-ul::after {
  background-blend-mode: overlay;
  position: absolute;
  background-image: linear-gradient(to bottom, transparent 55%, #000 100%);
  content: "";
  width: 100%;
  height: 100%;
}

.biz-show-ul img {
  // width: 100%;
  // height: 100%;
  width: 100%;
  min-width: 400px;
  height: 100%;
  opacity: 0.8;
  object-fit: cover;
}

.show-top-info {
  margin-left: 325px;
  position: relative;
  bottom: 120px;
}

.biz-show-name {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  color: #fff;
  font-weight: 900;
}

.biz-show-details {
  display: flex;
  margin-top: -10px;
}

.biz-show-claimed {
  font-family: 'Open Sans', sans-serif;
  color: dodgerblue;
  font-weight: 500px;
}

.first-bullet {
  color: #fff;
}

.biz-show-category {
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.biz-show-review {
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  background-color: #d32323;
  margin-bottom: 30px;
  color: #fff;
  // height: 40px;
  width: 180px;
  padding: 9px 1px;

}

.line-between {
  border-top: 2px solid lightgrey;
  width: 800px;
}

.covid-update {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.updated-service-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 900;
}

.updated-service-body {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  // justify-content: space-between;
}

.updated-service-body > div {
  margin-right: 50px;
}

.health-safety-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 900;
}

.health-safety-body {
  display: flex;
  // justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.health-safety-body > div {
  margin-right: 50px;
}

.location-hour-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  margin-bottom: 30px;
  font-weight: 900;

}

.date-time-all {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 300px;
}

// .date-tag {
//   margin-right: -170px
// }


.right-biz-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-radius: 4px;
  width: 400px;
}


div.right-biz-info > * {
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
  // width: 90%;
}

.biz-show-get-dir-tag {
  display: flex;
  flex-direction: column;
  width: 88%;
}

.biz-show-website {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: 1px solid lightgrey;
  width: 88%;
}

.web-url {
  color: rgba(0,131,143,1);
}

.biz-show-num {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid lightgrey;
  width: 88%;
}


.dir-tag {
  display: flex;
  justify-content: space-between;
  color: rgba(0,131,143,1);
}

.biz-show-container {
  min-width: 1224px;
  table-layout: fixed;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: -50px;
  // padding: 0 130px;
}

.biz-show-mid {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
  margin-left: 320px;
}

.right-biz-show {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: top;
  // position: fixed;
  right: 0;
  margin-right: 240px;
  margin-left: 5px;
}

.write-review-star {
  padding-right: 10px;
}

.biz-show-review > a {
  margin-left: 11px;
}

.biz-map-show {
    height: 100%;
    padding: 20px;
    margin: 0px;
}

.biz-map-indiv {
  width: 315px;
  height: 215px;
}

.map-time-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.biz-cool-message {
  width: 700px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}