.right-biz-map {
  // margin-top: 25px;
  width: 600px;
  height: 600px;
  min-width: 300px;
  position: sticky;
  top: 25px;

}

.biz-map-container {
  width: 40%;
  height: 78.6vh;
  position: fixed;
  margin-left: 35px;
  margin-top: 98px;
}