.biz-show-ul {
  display: flex;
}

.biz-show-ul img {
  width: 100%;
  height: 100%;
}

.show-top-info {
  margin-top: -100px;
  margin-left: 325px;
}

.biz-show-name {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  color: #fff;
}

.biz-show-details {
  display: flex;
  margin-top: -10px;
}

.biz-show-claimed {
  font-family: 'Open Sans', sans-serif;
  color: dodgerblue;
  font-weight: 500px;
}

.first-bullet {
  color: #fff;
}

.biz-show-category {
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.biz-show-review {
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  background-color: #d32323;
  padding: 9px 22px;
  color: #fff;
  height: fit-content;
  width: fit-content;
  margin-top: 50px;
  margin-left: 325px;
}


.biz-show-body {
  border-top: 2px solid lightgrey;
  margin-left: 325px;
  margin-right: 325px;
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  width: 42%;
  margin-top: -145px;
}


.covid-update {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}

.updated-service-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.updated-service-body {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  justify-content: space-evenly;
}

.health-safety-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.health-safety-body {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.location-hour-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  margin-bottom: 30px;
}

.date-time-all {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.date-tag {
  margin-right: -170px
}

.right-biz-show {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-right: 325px;
  width: 370px;
  height: 190px;
  border: 1px solid lightgrey;
  box-sizing: border-box;
}

.right-biz-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 190px;
}

.biz-show-mid {
  display: flex;
  justify-content: space-between;
}

div.right-biz-info > * {
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
  width: 90%;
}

.biz-show-get-dir-tag {
  display: flex;
  flex-direction: column;
}

.biz-show-website {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgrey;
}

.web-url {
  color: rgba(0,131,143,1);
}

.biz-show-num {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid lightgrey;
}

.dir-tag {
  display: flex;
  justify-content: space-between;
  color: rgba(0,131,143,1);
}
