// .mt-nav-logo {
//   background-image: asset-url('mtlogo2.png');
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: 15vh;
//   height: 50px;
//   width: 250px;
//   margin-left: auto;
//   margin-right: auto;
//   padding: 150px 0;
//   cursor: pointer;
// }

.right-nav {
  display: flex;
  justify-content: flex-end;
}


.logo-left {
  width: auto;
  height: 50px;
  width: auto;
}

#user-navs {
  position: relative;
  padding: 7px 9px;
  display: flex;
  justify-content: flex-end;
  margin: 0 20px 0 0;
  width: 25%;
}

#user-navs:hover .user-dropdown-btn{
	display: block;
}

.user-dropdown-btn {
	position: absolute;
	display: none;
	top: 45px;
	right: 0;
	border-radius: 3px;
	width: 150px;
  height: 100px;
	z-index: 1;
	font-family: 'Open Sans', sans-serif;
	font-weight: initial;
  box-shadow: -1px 5px 30px rgba(0,0,0,0.09);
  background-color: #fff;
}

.user-info li,
.logout {
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    vertical-align: auto;
}

.user-name {

  li:hover {
    text-decoration: none;
    color: #0073bb;
  }

  li {
    font-size: 20px;
  }
}

.user-name {
  color: black;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.logout-btn {
  display: flex;
  justify-content: center;
  border-top: 1px solid lightgrey;
}

.logout {
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin-top: 10px;
}

.logout:hover {
  color: #0073bb;
}


.all-navs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.nav-links {
  margin-right: -327px;
}

.login {
  border: 1px solid #999;
  margin: 35px 20px 0 0;
  font-family: 'Open Sans', sans-serif;
  padding: 8px 16px;
  color: black;
  font-size: 16px;
  position: relative;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.login:hover {
  background-color: rgb(228, 228, 228);

}

.signup {
  margin: 35px 365px 0 0;
  font-family: 'Open Sans', sans-serif;
  padding: 8px 16px;
  background: green;
  box-shadow: none;
  border-radius: 5px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}



