.reviews-tag {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 900;
}

.reviewer-names {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.one-reviewer {
  margin-left: 20px;
}

.review-body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: left;
  color: rgb(62, 61, 61);
  margin-bottom: 15px;
  width: 600px;
}

.edit-delete-review {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toggle-icon {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: fit-content;
}

.edit-btn {
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  background-color: #d32323;
  padding: 9px 13px;
  color: #fff;
  box-shadow: none;
  border: 2px solid #fff;
  font-size: 13px;
}

.delete-btn {
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  background-color: #d32323;
  padding: 9px 13px;
  color: #fff;
  box-shadow: none;
  border: 2px solid #fff;
  font-size: 13px;
}

.ellipsis-icon {
  margin-left: 20px;
  float: right;
}

.reviewer-names > svg {
  background-color: #d32323;
  width: 50px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 15px;
}

.reviewer-rating {
  color: #d32323;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
}

.review-buttons {
  width: 500px;
  margin-top: -70px;
}

.one-star > img {
  width: 130px;
  height: 30px;
  margin-left: -6px;

}

.two-star > img {
  width: 130px;
  height: 30px;
}

.two-star {
  margin-left: -8px;
}

.three-star > img {
  width: 130px;
  height: 32px;
}

.three-star {
  margin-left: -9px;
}

.four-star > img {
  width: 130px;
  height: 35px;
}

.four-star {
  margin-left: -8px;
  
}

.five-star > img {
  width: 130px;
  height: 30px;
  margin-left: -8px;
}

.review-date {
  margin-left: 10px;
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: rgb(144, 143, 153);
  width: 58px;
}