.review-form-all {
  max-width: 625px;
  margin: auto;
  padding: 0 15px;
}

.review-form-biz-name {
  font-family: 'Roboto', sans-serif;
  padding-top: 36px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 632px;
}

.biz-name-link {
  font-size: 34px;
}

.form-guideline {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(0,131,143,1);
}

.review-ratings {
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  height: 400px;
  width: 630px;
  margin-bottom: 40px;
}

.rating-msg {
  color: #757280;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  position: relative;
  left: 250px;
  top: 31px;
}

.plz-work-rating {
  margin-left: 25px;
  margin-top: 3px;
}

.un-filled {
  background-color: #757280;
  color: #fff;
  margin-right: 0.5px;
  padding: 10px 6px;
  border-radius: 7px;
  opacity: 0.2;
}

.filled {
  background-color: #d32323;
  color: #fff;
  margin-right: 0.5px;
  padding: 10px 6px;
  border-radius: 7px;
}


textarea {
  resize: none;
  width: 570px;
  height: 300px;
  border: none;
  outline: none;
  margin: 25px;
}

.fa-star {
  margin-left: 5px;
}

textarea::placeholder {
  font-family: 'Open Sans', sans-serif;
  
}

.review-form-submit {
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  background-color: #d32323;
  padding: 9px 52px;
  color: #fff;
  box-shadow: none;
  border: 2px solid #fff;
  font-size: 16px;

}

textarea  {  
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;   
}