.reviews-tag {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 900;
}

.reviewer-names {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.one-reviewer {
  margin-left: 20px;
}

.review-body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: left;
  color: rgb(62, 61, 61);
  margin-bottom: 15px;
  width: 600px;
}

.edit-delete-review {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.edit-btn {
  font-family: 'Open Sans', sans-serif;
  background-color: transparent; 
  padding: 15px;
  color: black ;
  font-size: 15px;
  border: none;
  width: 190px;
  align-self: center;
}

// .edit-btn:hover, .delete-btn:hover {
//   background-color: rgb(226, 226, 230);
  
// }

// .edit-btn > a {
//   padding: 10px 38px;
// }

// .delete-btn {
//   padding: 10px 38px;
// }

.edit-btn:hover {
  background-color: rgb(226, 226, 230);
}


.delete-btn:hover {
  background-color: rgb(226, 226, 230);
}

.delete-btn {
  font-family: 'Open Sans', sans-serif;
  background-color: transparent; 
  padding: 15px;
  color: black ;
  font-size: 15px;
  border: none;
  width: 190px;
  align-self: center;
}


.ellipsis-icon {
  margin-left: 20px;
  float: right;
}


.reviewer-names > svg {
  background-color: #d32323;
  width: 50px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 15px;
}

.reviewer-rating {
  color: #d32323;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
}

.review-buttons {
  width: 500px;
  margin-top: -70px;
}

.one-star > img {
  width: 130px;
  height: 30px;
  margin-left: -6px;

}

.two-star > img {
  width: 130px;
  height: 30px;
}

.two-star {
  margin-left: -8px;
}

.three-star > img {
  width: 130px;
  height: 32px;
}

.three-star {
  margin-left: -9px;
}

.four-star > img {
  width: 130px;
  height: 35px;
}

.four-star {
  margin-left: -8px;
  
}

.five-star > img {
  width: 130px;
  height: 30px;
  margin-left: -8px;
}

.review-date {
  margin-left: 10px;
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: rgb(144, 143, 153);
  width: 58px;
}

.dropdown-review {
  position: relative;
  display: inline-block;
}

.review-options {
  background-color: transparent;
  border: none;
  color: rgb(144, 143, 153);
  outline: none;
  width: 45px;
  height: 45px;
  position: relative;
}

.review-options:hover {
  border-radius: 50%;
  background-color: rgb(226, 226, 230);
}

.review-dropdown-content {
  display: none;
  position: absolute;
  min-width: 60px;
  z-index: 1;
  background-color: #fff;
  width: 190px;
  border-radius: 3px;
  box-shadow: 12px 8px 5px rgba(rgb(186, 184, 184), 0.2), 0px 7px 18px rgba(rgb(186, 184, 184), 0.5);
  color: #2B273C;
  margin-top: 48px;
  margin-right: 12px;
}