.search-bar-container {
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: flex;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  height: 47.9883px;
  text-size-adjust: 100%;
  width: 825px;
  -webkit-font-smoothing: antialiased;
   transition: all .2s ease-in-out;
  &:hover>input:first-child {
    border: solid 1px rgba(10, 10, 10, 0.534);
    border-right: none;
    transition: all .2s ease-in-out;
  }
  &:hover>button {
    border: solid 1px rgba(10, 10, 10, 0.534);
    border-left: none;
    transition: all .2s ease-in-out;
  }
  &:hover > * {    
    opacity: 100%;
    pointer-events: auto;
  }
}
.search-bar {
  border: 1px solid rgba(34, 34, 34, 0.15);
  border-top-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  box-shadow: none;
  background: transparent;
  flex: 1;
  color: #222222;
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 28px;
  height: 46px;
  outline: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
  width: 167px;
  min-width: 0;
  margin: 0px;
  background-color: #fff;
}
.search-bar-button {
  background-color: #d32323;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  // font-family: -apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 46px;
  color: #222222;
  font-weight: bold;
  font-size: 16px;
  white-space: nowrap;
  z-index: 10;
  transition: all 200ms ease-out;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid rgba(34, 34, 34, 0.15);
  border-left: 0; 

}

.search-bar-button:hover {
  background-color: #a71414;
}

.search-bar-icon {
  position: relative;
  background-image: asset-url('search.png');
  background-size:contain;
  background-repeat: no-repeat;
  height: 23px; 
  width: 30px;
}

.floating-list {
  position: absolute;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 877px; 
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px rgba(34, 34, 34, 0.15) solid;
  box-shadow: 0 4px 20px rgba(34, 34, 34, 0.15);
  position: relative;
  position: absolute;
  // padding-left: 30px;
  transform-origin: top left;
  text-align: left;
  opacity: 1%;
  margin-top: 46px;
  list-style-type: none;
  pointer-events: none;
  z-index: 15;
}
.floating-list{
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 752px;
}
.floating-list > a > li {
 line-height: 30px;
 padding: 2px;
 padding-left: 20px;
 transition: all .1s ease-in-out;
}
.floating-list > a > li:hover {
background-color: rgb(238, 238, 238);
}

.parent-search-container {
  display: flex;
  justify-content: center;
}

.more-biz {
  color: #d32323;
}