.splash-head {
  background-image: asset-url("homepage.png");
  height: 61vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#nav-bar {
  width: 100%;
  height: 116px;
}

.logo-home {
  display: block;
  height: 50px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  cursor: pointer;
}

.mt-splash-logo > a {
  cursor: default;
}

.splash-index {
  margin: 30px;
}

.splash-title {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  font-family: 'Open Sans', sans-serif;
  color: #d32323;
  font-size: 18px;
}

.splash-biz {
  display: flex;
  justify-content: center;
}

.biz-pic {
  width: 300px;
  height: 250px;
  margin: 0 18px 0 18px;
  border: 1px solid #999;
  border-radius: 6px;
}

.biz-cap {
  text-align: center;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #0073bb;
  font-size: 16px;
}

.sp-all-navs {
  display: flex;
  justify-content: space-between;
  height: 116px;
  // padding-top: 35px;
}

.sp-nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sp-login {
  margin: 35px 20px 0 0;
  font-family: 'Open Sans', sans-serif;
  padding: 0 15px;
  background: transparent;
  color: #fff;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

.sp-login:hover {
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 5px;
}

.sp-signup {
  margin: 35px 365px 0 0;
  font-family: 'Open Sans', sans-serif;
  padding: 5px 15px;
  background: transparent;
  box-shadow: none;
  border-radius: 5px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  transition: background-color 0.3s;
  position: relative;
  cursor: pointer;
}

.sp-signup:hover {
	background-color: #fff;
  color: #d32323;
}


.sp-left-nav {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  background: transparent;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-left: 425px;
}

.sp-left-nav:hover {
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 5px;
}

.sp-user-navs {
  height: 116px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-right: 365px;
}

.sp-user-navs:hover .sp-user-dropdown-btn{
	display: block;
}

.sp-user-dropdown-btn {
	position: absolute;
	display: none;
	top: 75px;
	right: 365px;
	border-radius: 3px;
	width: 150px;
  height: 100px;
	z-index: 1;
	font-family: 'Open Sans', sans-serif;
	font-weight: initial;
  box-shadow: -1px 5px 30px rgba(0,0,0,0.09);
  background-color: #fff;
}

.sp-user-info li,
.sp-logout {
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    vertical-align: auto;
}

.sp-user-name {

  li:hover {
    text-decoration: none;
    color: #999;
  }

  li {
    font-size: 20px;
  }
}

.sp-user-name {
  color: #0073bb;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.sp-logout-btn {
  display: flex;
  justify-content: center;
  border-top: 1px solid lightgrey;
}

.sp-logout {
  border: none;
  font-size: 16px;
  margin-top: 10px;
}

.sp-logout:hover {
  color: #0073bb;
}

.mt-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 245, 245);
  border-top: 1px solid #ccc;
  position: sticky;
}

.footer-img {
  width: 650px;
  height: auto;
  margin-bottom: 10px;
}

.about-links {
  font-size: 24px;
  margin-bottom: 10px;
}

.github-icon {
  margin-right: 10px;
  color: #d32323;
}

.github-icon:hover {
  opacity: 60%;
}

.linkedin-icon {
  color: #0073bb;
}

.linkedin-icon:hover {
  opacity: 60%;
}

.angellist-icon {
  margin-right: 10px;
}

.angellist-icon:hover {
  opacity: 60%;
}

